@import '~antd/dist/antd.css';

body{
  font-family: sans-serif;
}
.title{
  text-align: left;
  font-weight: bold;
  color: white;
  font-size: 20pt;
  background-color: lightseagreen;
}

.side-bar, .title, .display_results{
  border: 1px solid red;
}