@import '~antd/dist/antd.css';

body{
  font-family: sans-serif;
}
.title{
  text-align: left;
  font-weight: bold;
  color: white;
  font-size: 20pt;
  background-color: lightseagreen;
}

.form-title{
  font-size: 9pt;
  margin-bottom: 20px;
}
label{
  color: white;
  font-weight: bold;
}

.side-bar{
  padding: 20px;
}

.results{
  margin-top: 20px;
  position: fixed;
  width:80%;
}

.col{
  text-align: center;
}